.ipynb_checkpoints
*.ipynb

*.tab
download_tables.py
db_query_check.py
migrate_jsons_to_db.py
get.py
cliapp.py
parser.py

create_deck.py
gen_data_from_word_list.py
generate_descriptions.py
static/css/hanzipractice_backup.js
static/js/hanzipractice_backup.js
templates/hanzipractice_backup.html
alter_db.py
migrations/versions/
fire

extract_fontawesome.py
original_font_awesome_data.js
original_fontawesome_brands_data.js
original_fontawesome_icons_data.js

user_progress/
user_strokes/
audio_files/
chinese_audio_clips/
audio_files2/
data/crawled.json
data/*_bkp.json
data/anthropic_2.json
data/new_translations.json
data/decompose_cache.json
data/chars_cache.json
data/words_cache.json
data/strokes_cache.json

hanzipy/
processtrans.py
story_info.json
tempchapters/
check_db.py
create_story.py
.indices_cache.json

data/stories/clips

*.txt

__pycache__/
*.py[cod]

venv/
env/
*.env

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/

*.log

*.pyc

*.db
*.sqlite3

*.tmp
*.bak
*.swp
